/* Inserta tu CSS aqui */
div{
   width: 200px;
   height: 200px;
  
}

.rosa{
	background-color: #ee3e64;
	
    
}

.azul{
	background-color: #2C76B4;
    position: relative;
    left: 200px;
 
}
   

.verde{
	background-color: #b7d84b;

    
}

